### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Ignore everything inside build by default ###
frontend/build/*

### But allow the distributions folder (and everything inside it) ###
!frontend/build/distributions/
!frontend/build/distributions/**

### Allow composeResources folder for static website hosting ###
!frontend/build/composeResources/
!frontend/build/composeResources/**


# Allow Kotlin JS lock store for reproducible builds
!kotlin-js-store/
!kotlin-js-store/**

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db